@import '../../../styles/Index.scss';

.button {
  @include flex-start;
  @include secondary-bold;
  padding: 13px 34px;
  border-radius: .7rem;
  border: none;
  cursor: pointer;
  box-shadow: $secondary-shadow;
}

.button--primary {
  background: $secondary-gradient;
  color: $white;
  transition: .3s ease-in-out;

  &:hover {
    background: $secondary-gradient-hover;
  }
}

.button--secondary {
  background: $secondary;
  transition: .3s ease-in-out;

  &:hover {
    background: $black;
    color: $white;
  }
}

.button--tertiary {
  background: $tertiary-gradient;

  &:hover {
    background: $tertiary-gradient-hover;
  }
}

.button--quaternary {
  padding: 4px 11px;
  font-weight: bold;
  font-size: .9rem;
  background: $quaternary;
  box-shadow: none;
  border: 1px solid $quaternary;
  transition: .2s ease-in-out;
  color: $white;

  &:hover {
    border: 1px solid $black;
    background: $black;
  }
}

.button--quinary {
  padding: 4px 11px;
  font-weight: bold;
  font-size: .9rem;
  border: 1px solid $black;
  background: $white;
  transition: .2s ease-in-out;
  box-shadow: none;

  &:hover {
    background: $black;
    color: $white;
  }
}

.button--senary {
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  background: $quinary;
  transition: .2s ease-in-out;

  svg {
    height: 25px;
    margin-right: .5rem;

    path {
      fill: $black;
      transition: .2s ease-in-out;
    }
  }

  &:hover {
    color: $white;
    background: $black;

    svg {
      path {
        fill: $white;
      }
    }
  }

}

.button--septenary {
  padding: 4px 11px;
  font-weight: bold;
  font-size: .9rem;
  background: $quinary;
  box-shadow: none;
  border: 1px solid $quinary;
  transition: .2s ease-in-out;
  color: $black;

  &:hover {
    color: $white;
    border: 1px solid $black;
    background: $black;
  }
}

.button--unactive {
  background: $tertiary;
  box-shadow: none;
  pointer-events: none;

}
