@import '../../styles/Index.scss';

.order {
  @include large-box-radius;
  width: 100%;
  padding: 0 1rem;
  margin: 5rem auto;

  @media screen and (max-width: $desktop-regular-screen) {
    width: 90%;
    height: auto;
    padding: 40px 0;
  }

  @media screen and (max-width: $tablet-regular-screen) {
    width: 100%;
  }

  @media screen and (max-width: $mobile-large-screen) {
    padding: 0;
  }

}

.order__header {
  @include flex-start;
  @include secondary-bold-subtitle;
  color: $black;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 90%;
  height: auto;

  @media screen and (max-width: $desktop-regular-screen) {
    width: 100%;
    align-items: center;
    margin-bottom: 0;
  }

  .title {
    @include flex-start;
  }

}

.order__catalog-selector {
  @include flex-between;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;

  @media screen and (max-width: $desktop-regular-screen) {
    width: 100%;
    flex-direction: column;
  }

}

.order__catalog {
  @include flex-start;
  width: 90%;
  margin: 0 auto;

  @media screen and (max-width: $desktop-regular-screen) {
    overflow-x: auto;
    width: 100%;
  }

}

.order__catalog-item {
  margin: 1rem .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: .6rem;
  width: 15%;
  background: $white;
  height: 378px;
  box-shadow: $secondary-shadow;

  @media screen and (max-width: $desktop-large-screen) {
    &:hover {
      .order__catalog-pic {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: $desktop-medium-screen) {
    width: 18%;
  }

  @media screen and (max-width: $desktop-small-screen) {
    width: 22%;
  }

  @media screen and (max-width: $tablet-regular-screen) {
    width: 30%;
    height: 390px;

    &:hover {
      .order__catalog-pic {
        opacity: inherit;
      }

      .spec-item {
        color: inherit;
        background: inherit;
        padding: inherit;
      }
    }
  }

  @media screen and (max-width: $mobile-large-screen) {
    width: 47%;
    height: 339px;
    margin: 1rem .3rem;

    &:hover {
      .order__catalog-pic {
        opacity: inherit;
      }

      .spec-item {
        color: inherit;
        background: inherit;
        padding: inherit;
      }
    }
  }


  &.check {
    .order__catalog-pic {
      opacity: 1;
    }

    .order__catalog-info {
      .order__catalog-info-description {
        color: $white;
      }

      .order__catalog-info-title-spec {

        .order__catalog-info-title {
          color: $white;
        }
      }

      .order__catalog-item-spec {
        color: $white;
      }
    }
  }
}

.order__catalog-pic {
  width: 100%;
  opacity: .8;
  transition: .3s ease-in-out;
  position: relative;
  height: 60%;
  overflow: hidden;

  @media screen and (max-width: $desktop-regular-screen) {
    height: max-content;
  }

  img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .toggler {
    @include flex-start;
    position: absolute;
    top: 1rem;
    left: .4rem;
    height: 22px;
    width: 35px;
    font-size: .8rem;
    font-weight: bold;
    color: $white;
    border-radius: 5rem;
    padding: .2rem .5rem .2rem .2rem;

    .icon {
      position: absolute;
      margin-right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: .2s ease-in-out;
    }
  }

  .add {
    background: $secondary;
    transition: .2s ease-in-out;

    &:hover {
      background: $quaternary;
    }

    .icon {
      left: 30%;
    }
  }

  .remove {
    background: $quaternary;
    transition: .2s ease-in-out;

    &:hover {
      background: $secondary;
    }

    .icon {
      left: 70%;
    }
  }
}

.order__catalog-info {
  width: 100%;
  padding: 1rem .6rem;
  height: 40%;
}

.order__catalog-info-title-spec {
  @include flex-start;
  margin-bottom: .5rem;

}

.order__catalog-info-title {
  @include secondary-bold-subtitle;
  font-size: 1rem;
  color: $black;
  text-align: left;

  @media screen and (max-width: $desktop-regular-screen) {
    font-size: 1rem;
  }

}

.order__catalog-info-spec {
  @include secondary-bold-subtitle;
  position: absolute;
  right: .5rem;
  top: 1rem;
  color: $white;
  text-align: center;
  font-size: 1.5rem;
  padding: .8rem;

  @media screen and (max-width: $desktop-regular-screen) {
    padding: .7rem;
  }

  .spec {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .icon {
      margin-right: 0;
    }
  }

}

.order__catalog-info-description {
  @include primary-normal-small;
  color: lighten($color: $black, $amount: 40);
  font-size: .7rem;
  margin: .5rem 0;
  height: 48px;

  @media screen and (max-width: $tablet-regular-screen) {
    overflow: hidden;
    font-size: .8rem;
    width: 100%;
  }

}

.order__catalog-item-price {
  @include flex-start;
  bottom: .5rem;
  position: absolute;
  height: 33.7px;
  width: 90%;

  @media screen and (max-width: $desktop-regular-screen) {
    position: inherit;
    width: 100%;
    height: max-content;
    margin-top: .4rem;
  }

}

.order__catalog-item-spec {
  @include flex-start;
  @include primary-normal-small;
  font-weight: bold;
  width: 100%;
  margin-bottom: .2rem;
  color: $black;
  cursor: pointer;
  transition: .2s ease-in-out;

  .spec-price {
    width: 100%;

    .spec-item {
      @include flex-between;
      width: 100%;
      margin-bottom: .2rem;
      font-size: 1rem;
    }

    .price {
      @media screen and (max-width: $desktop-regular-screen) {
        font-size: 1.2rem;
        margin-bottom: .3rem;
      }

      .before {
        display: block;
        font-size: .7rem;
        font-weight: 300;
        padding-bottom: .1rem;
        text-decoration: line-through;
      }
    }
  }
}

.order__catalog-category {
  width: 100%;
  margin-bottom: 3rem;
}

.order__catalog-products {
  @include flex-start;
  width: 100%;
}

.order__extra {
  width: 90%;
  margin: 2rem auto;

  @media screen and (max-width: $desktop-regular-screen) {
    width: 100%;
    padding: 1rem 0;
  }

}

.order__extra-title {
  @include secondary-bold-subtitle;
  color: $black;
  margin-bottom: 2rem;

}

.order__extra-items {
  @include flex-evenly;
  flex-direction: column;
  align-items: flex-start;
  max-height: 350px;

}

.order__refreshments {
  width: 90%;
  margin: 2rem auto;

  @media screen and (max-width: $desktop-regular-screen) {
    width: 100%;
    padding: 1rem 0;
  }

}

.order__refreshments-title {
  @include secondary-bold-subtitle;
  color: $black;
  margin-bottom: 2rem;

}

.order__action {
  @include flex-between;
  flex-direction: column;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  background: $white;
  width: 12%;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  border: 1px solid $black;

  @media screen and (max-width: $desktop-regular-screen) {
    flex-direction: row;
    width: 100%;
    right: 0;
    bottom: 34px;
    border-radius: 0;
    border: none;
    box-shadow: 0 .6rem 1rem rgba($color: $secondary, $alpha: .8);
  }

}

.order__total {
  @include flex-start;
  @include secondary-bold-subtitle;
  color: $black;
  margin-bottom: .5rem;
  text-align: center;
  width: 100%;

  @media screen and (max-width: $desktop-regular-screen) {
    width: 50%;
    font-size: 1rem;
  }

  strong {
    display: block;
    margin-right: .3rem;
    text-align: center;

  }

}

.order__submit {
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: $desktop-regular-screen) {
    width: 50%;

    .button {
      float: right;
    }
  }

  a {
    text-decoration: none;
  }

  .button--secondary {
    margin: 0 auto;
  }

  .button--unactive {
    pointer-events: none;
    margin: 0 auto;
  }

}

.order__make-order {
  width: 100%;

  .button {
    margin: 0 auto;
  }
}

.order__submit--disable {
  pointer-events: none;
  width: 100%;

  @media screen and (max-width: $desktop-regular-screen) {
    width: 50%;

    .button {
      float: right;
    }
  }
}

.order-notation {
  @include primary-normal-small;
  font-weight: normal;
  font-size: .8rem;
  color: rgba($color: $black, $alpha: .4);
  width: 100%;
  margin-bottom: .5rem;
}

.order-cost {
  margin-top: .5rem;
}
