@import '../../../styles/Index.scss';

.footer {
  @include flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .6rem 2rem;
  width: 100%;
  color: $black;
  font-size: 1rem;
  background: $white;

  @media screen and (max-width: $desktop-regular-screen){
    padding: .5rem 1rem;
  }
}

.footer__info {
  @include flex-between;
  width: 100%;

  .minilogo {
    height: 15px;
  }

  .name {
    margin-left: .3rem;
  }

  .address {
    @include flex-start;
  }

  .call {
    color: $black;

    @include flex-start;
    cursor: pointer;
    text-decoration: none;
  }
}
