// THEME
$white: #FFFFFF;
$white-gradient: linear-gradient(180deg, transparent 10%, $white 100%);
$black: #070707;

// PRIMARY
$primary: #FF5252;
$primary-ligth: #F78E8E;
$primary-dark: #DB4747;
$primary-gradient-end: #FD3153;
$primary-gradient: linear-gradient(142.65deg, $primary-dark 33.6%, $primary-gradient-end 90.53%);

// SECONDARY
$secondary: #3FF0E1;
$secondary-ligth: #9FEEE7;
$secondary-dark: #2BB4A9;
$secondary-gradient-end: #59F8AE;
$secondary-gradient: linear-gradient(188.67deg, $secondary 12.5%, $secondary-gradient-end 100%);
$secondary-gradient-hover: linear-gradient(188.67deg, $secondary 30.5%, $secondary-gradient-end 100%);

// TERTIARY
$tertiary: #EEEEEE;
$tertiary-ligth: #FAFAFA;
$tertiary-dark: #C4C4C4;
$tertiary-gradient-end: $white;
$tertiary-gradient: linear-gradient(214.29deg, $tertiary 12.5%, $tertiary-gradient-end 100%);
$tertiary-gradient-hover: linear-gradient(214.29deg, $tertiary 5.5%, $tertiary-gradient-end 100%);

// QUATERNARY
$quaternary: #7835CF;
$quaternary-ligth: #AD76F5;
$quaternary-dark: #5F2CA1;

// QUINARY
$quinary: #FFE44D;
$quinary-ligth: #FFEF94;
$quinary-dark: #ECB212;

// SHADOW
$black-shadow: 0px 46px 28px rgba($color: $black, $alpha: .1);
$primary-shadow: 0px 46px 28px rgba($color: $secondary, $alpha: .5);
$secondary-shadow: 0px 4px 8px rgba($color: $secondary, $alpha: .15);
$secondary-shadow--small: 0px 3px 9px rgba($color: darken($color: $secondary, $amount: 20), $alpha: 1);
$secondary-shadow-hover: 0px 6px 8px rgba($color: $secondary, $alpha: .5);
$tertiary-shadow: 0px 10px 28px rgba($color: $secondary, $alpha: .3);
