@import '../styles/Mixings.scss';
@import '../styles/MediaQuerys.scss';
@import '../styles/Fonts.scss';

.order__extra-item {
  @include secondary-bold;
  @include flex-between;
  width: 30%;
  font-size: .9rem;
  padding: 10px 12px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: .7rem;
  cursor: pointer;
  transition: .3s ease-in-out;
  background: $white;
  box-shadow: $secondary-shadow;
  color: $black;

  @media screen and (max-width: $desktop-large-screen) {

    &:hover {
      background: $secondary;
      box-shadow: $secondary-shadow-hover;
      color: $white;

    }
  }

  @media screen and (max-width: $tablet-regular-screen) {
    font-size: .7rem;

    &:hover {
      background: $white;
      box-shadow: $secondary-shadow;
      color: $black;

    }
  }

  @media screen and (max-width: $desktop-regular-screen) {
    font-size: .8rem;
  }

  .item-name {
    @include flex-start;
  }
}

.curtain__announce {
  @include secondary-bold;
  text-align: center;
  font-size: calc(35px + (55 - 35) * ((100vw - 300px) / (1600 - 300)));
  width: 67%;
  color: $white;
  margin: 0 auto;

  .announce-title {
    margin-top: 0;
  }

  @media screen and (max-width: $desktop-regular-screen) {
    width: 100%;
    text-align: left;
  }

  p {
    @include primary-normal;
    font-size: 1.2rem;
  }
}

.menu__item {
  font-weight: normal;
  margin-right: 1rem;

  @media screen and (max-width: $desktop-regular-screen) {
    margin: .7rem 0;
    margin-right: 0;
    width: 100%;

    .button {
      width: 100%;
    }
  }

  .user {
    &--loggeding {
      text-transform: capitalize;
    }
  }
}

.units {
  @include flex-between;
  border: 1px solid $white;
  border-radius: 5rem;
  padding: .2rem .2rem .2rem .5rem;

  @media screen and (max-width: $desktop-regular-screen) {
    width: 100%;
  }

  &-actions {
    @include flex-center;

  }

  .unit {
    color: $white;
    margin-right: .3rem;

    @media screen and (max-width: $desktop-regular-screen) {
      width: 50%;
    }
  }
}

.quantifier {
  border-radius: 5rem;
  border: 1px solid $white;
  width: 20px;
  height: 20px;
  margin-left: .5rem;
  background: transparent;
  color: $white;
  transition: .2s ease-in-out;

  &:hover {
    background: $white;
    color: $quaternary;
  }

  .icon {
    position: relative;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      width: 10px;
    }
  }
}

.modal__wrapper {
  border-radius: 0;
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;

  .price {
    @include flex-start;

    .icon {
      margin-right: 0;
      margin: 0 .4rem;

    }
  }

}

.modal__layout {
  background: rgba($color: $white, $alpha: .8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;

}

.modal__header {
  @include flex-between;
  width: 100%;
  padding: 1rem 2rem;
  padding-top: 4rem;

  .modal-title {
    @include flex-start;
    @include secondary-bold-subtitle;
  }

  .modal-close {
    @include flex-start;
    width: max-content;
    color: $black;
    cursor: pointer;
    transition: .2s ease-in-out;
    font-weight: bold;

    &:hover {
      color: $quaternary;
    }
  }
}

.modal__body {
  @include flex-between;
  width: 100%;

  .product-extra-info {
    display: block;
    text-align: right;
    margin-bottom: 1rem;
  }

  .product-total {
    display: block;
    text-align: left;
    margin-top: .5rem;
    font-size: 2rem;

    @media screen and (max-width: $mobile-large-screen) {
      font-size: 1.3rem;
    }
  }

  .product-total-title {
    display: block;
    text-align: left;
    font-size: .9rem;
    font-weight: bold;
  }

}

.modal-info-box {
  background: $white;
  padding: 1rem 2.5rem;

  @media screen and (max-width: $mobile-large-screen) {
    padding: 1rem;
  }
}

.modal-info-box-title {
  @include flex-start;
  margin: 1rem 0;
  margin-bottom: 3rem;
  font-size: 1.3rem;

  svg {
    path {
      color: $black;
    }
  }

}

.modal-order-detail {
  width: 70%;
  height: 100vh;

  @media screen and (max-width: $mobile-large-screen) {
    width: 100%;
  }
}

.modal-product {
  @include flex-between;
  width: 100%;
  margin: .5rem auto;

  .product-pic {
    position: relative;
    width: 10%;

    @media screen and (max-width: $mobile-large-screen) {
      width: 20%;
    }

    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  .product-quantity {
    position: absolute;
    top: 1rem;
    right: -.4rem;
    padding: .1rem;
    border-radius: .5rem;
    height: 1.7rem;
    width: 1.7rem;
    text-align: center;

    @media screen and (max-width: $desktop-regular-screen) {
      font-size: .8rem;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
    }
  }

  .product-name {
    width: 70%;
    padding: 0 2rem;
    font-weight: bold;

    @media screen and (max-width: $mobile-large-screen) {
      width: 50%;
      padding: 0 1rem;
    }
  }

  .product-description {
    display: block;
    font-size: .8rem;
    color: $black;
    font-weight: normal;
    margin-top: .3rem;
    color: lighten($color: $black, $amount: 50);

    @media screen and (max-width: $mobile-large-screen) {
      display: none;
    }
  }

  .product-price {
    width: 20%;
    display: block;
    font-weight: bold;
    font-size: 1.3rem;

    @media screen and (max-width: $mobile-large-screen) {
      width: 30%;
      font-size: 1rem;
    }

    span {
      float: right;

    }
  }
}

.modal-delivery {

  .delivery-input {
    margin-bottom: 2rem;

    label {
      @include secondary-normal;
      display: block;
      margin-bottom: .5rem;

    }

  }

}

.modal__delivery {

  &-client,
  &-resume,
  &-payment {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;

    @media screen and (max-width: $mobile-large-screen) {
      margin-bottom: 1rem;
    }
  }

  &-focus {
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 0;
    height: 100%;
  }
}

.modal__payment {
  &-types {
    @include flex-between;
  }
}

.modal-payment-type {
  border: 2px solid $white;
  padding: .8rem 2rem;
  border-radius: 14px;
  margin: .5rem 0;
  width: 48%;
  text-align: center;
  font-weight: bold;
  transition: .2s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 2px solid $secondary;
    background: $secondary;
  }
}

.modal-payment-method {
  width: 30%;
  height: 100vh;
  background: lighten($color: $tertiary, $amount: 5);
  color: $black;
  padding: 3rem 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: .3s ease-in-out;

  @media screen and (max-width: $mobile-large-screen) {
    width: 100%;
    bottom: -47%;
    top: auto;
    height: auto;
    padding: 1rem 0;
    background: $quinary;
  }
}

.menu--active {
  left: 0;
}

.menu--deactive {
  left: -100%;
}

.tabs-link {
  margin: 1rem auto;

  @media screen and (max-width: $desktop-regular-screen) {
    margin: .8rem 0;
    width: 100%;
    overflow: hidden;
  }

  .link {
    margin: 0;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 0 .3rem;
  }

  .button {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.check {
  color: $white !important;
}

.form {
  &-account {
    &-input__wrapper {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: .5rem;
      }
    }

    &-submit__wrapper {
      margin-top: 1.4rem;
      width: 100%;

      .button {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    &-forgotpassword {
      display: block;
      margin: .5rem 0;

      a {
        @include flex-start;
        color: $black;
        text-decoration: none;

        .icon {
          margin-right: .2rem;
        }
      }
    }
  }
}

.title-desktop {
  @include flex-start;

  @media screen and (max-width: $mobile-large-screen) {
    display: none;
  }

}

.title-mobile {
  display: none;
  text-align: center;

  @media screen and (max-width: $mobile-large-screen) {
    display: block;
  }

}

.show-methods {
  bottom: 0;
}

.input {
  border-radius: 5px;
  position: relative;

  &__type-file {
    display: grid;
    place-items: center;
    border: .15rem dashed $secondary;
    background: lighten($color: $secondary, $amount: 30);
    padding: 1rem;
    width: 100%;
    height: 250px;
    transition: .2s ease-in-out;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: lighten($color: $secondary, $amount: 20);
    }
  }

  &__type-textarea {
    border: .15rem solid $secondary;
    background: lighten($color: $secondary, $amount: 30);
    color: $black;
    padding: 1rem;

    textarea {
      &::placeholder {
        color: $black;
      }
    }
  }
}

.switch__selector-wrapper {
  position: relative;
  height: 26px;
  width: 45px;
  border-radius: 999rem;
  background: $secondary;

  .switch {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
    border-radius: 999rem;
    background: $black;
    transition: .3s ease-in-out;

    &--left {
      left: .2rem;
      transition: .2s ease-in-out;
    }

    &--right {
      left: 1.4rem;
      transition: .2s ease-in-out;
    }
  }

  &--deactive {
    background: $white;
    border: 2px solid $black;
  }

  &--active {
    background: $secondary;
    border: 2px solid $black;
  }
}

.promo-banner-slider {
  margin: 1.5rem auto;
  overflow: hidden;
  border-radius: .6rem;
}

.option-selected {
  background: $black;
  color: $white;
}

// CAROUSEL REFACTOR
.carousel {
  .slide {
    background: transparent;
  }
}
