@import '../styles/Mixings.scss';
@import '../styles/MediaQuerys.scss';
@import '../styles/Fonts.scss';

.order__extra-item {
  @include secondary-bold;
  @include flex-between;
  width: 30%;
  font-size: .9rem;
  padding: 10px 12px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: .7rem;
  cursor: pointer;
  transition: .3s ease-in-out;
  background: $white;
  box-shadow: $secondary-shadow;
  color: $black;

  @media screen and (max-width: $desktop-large-screen) {

    &:hover {
      background: $secondary;
      box-shadow: $secondary-shadow-hover;
      color: $white;

    }
  }

  @media screen and (max-width: $tablet-regular-screen) {
    font-size: .7rem;

    &:hover {
      background: $white;
      box-shadow: $secondary-shadow;
      color: $black;

    }
  }

  @media screen and (max-width: $tablet-large-screen) {
    font-size: .8rem;
  }

  .item-name {
    @include flex-start;
  }
}

.curtain__announce {
  @include secondary-bold;
  text-align: center;
  font-size: calc(35px + (55 - 35) * ((100vw - 300px) / (1600 - 300)));
  width: 67%;
  color: $white;
  margin: 0 auto;

  .announce-title {
    margin-top: 0;
  }

  @media screen and (max-width: $tablet-large-screen) {
    width: 100%;
    text-align: left;
  }

  p {
    @include primary-normal;
    font-size: 1.2rem;
  }
}

.menu__item {
  font-weight: normal;
  margin-right: 1rem;

  @media screen and (max-width: $tablet-large-screen) {
    margin: .7rem 0;
    margin-right: 0;
    width: 100%;

    .button {
      width: 100%;
    }
  }
}

.units {
  @include flex-between;
  border: 1px solid $white;
  border-radius: 5rem;
  padding: .2rem .2rem .2rem .5rem;

  @media screen and (max-width: $tablet-large-screen) {
    width: 100%;
  }

  .unit {
    color: $white;
    margin-right: .3rem;

    @media screen and (max-width: $tablet-large-screen) {
      width: 50%;
    }
  }
}

.quantifier {
  border-radius: 5rem;
  border: 1px solid $white;
  width: 20px;
  height: 20px;
  margin-left: .2rem;
  background: transparent;
  color: $white;
  transition: .2s ease-in-out;

  &:hover {
    background: $white;
    color: $quaternary;
  }

  .icon {
    position: relative;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      width: 10px;
    }
  }
}

.modal__wrapper {
  border-radius: 0;
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;

  @media screen and (max-width: $tablet-large-screen) {
    width: 90%;
    padding: 2rem 1rem;
    height: 100vh;
  }

  .price {
    @include flex-start;

    .icon {
      margin-right: 0;
      margin: 0 .4rem;

    }
  }

}

.modal__layout {
  background: rgba($color: $white, $alpha: .8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;

}

.modal__header {
  @include flex-between;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 2rem;

  .modal-title {
    @include flex-start;
    @include secondary-bold-subtitle;
  }

  .modal-close {
    @include flex-start;
    width: max-content;
    color: $black;
    cursor: pointer;
    transition: .2s ease-in-out;
    font-weight: bold;

    &:hover {
      color: $quaternary;
    }

    svg {
      path {
        color: $secondary;
      }
    }
  }
}

.modal__body {
  @include flex-between;
  width: 100%;

  @media screen and (max-width: $tablet-regular-screen) {
    width: 80%;
  }

  .product-extra-info {
    display: block;
    text-align: right;
    margin-bottom: 1rem;
  }

  .product-total {
    display: block;
    text-align: left;
    margin-top: .5rem;
    font-size: 2rem;
  }

  .product-total-title {
    display: block;
    text-align: left;
    font-size: .9rem;
    font-weight: bold;
  }

}

.modal-info-box {
  background: $white;
  padding: 1rem 2.5rem;
}

.modal-info-box-title {
  @include flex-start;
  margin: 1rem 0;
  margin-bottom: 3rem;
  font-size: 1.3rem;

  svg {
    path {
      color: $secondary;
    }
  }

}

.modal-order-detail {
  width: 70%;
  height: 100vh;
}

.modal-product {
  @include flex-between;
  width: 100%;
  margin: .5rem auto;

  .product-pic {
    position: relative;
    width: 10%;

    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  .product-quantity {
    position: absolute;
    top: 1rem;
    right: -.4rem;
    color: $white;
    background: $secondary;
    padding: .1rem;
    border-radius: .5rem;
    height: 1.7rem;
    width: 1.7rem;
    text-align: center;

    @media screen and (max-width: $tablet-large-screen) {
      font-size: .8rem;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
    }
  }

  .product-name {
    width: 70%;
    padding: 0 2rem;
    font-weight: bold;

    @media screen and (max-width: $tablet-large-screen) {
      font-size: .8rem;
    }
  }

  .product-description {
    display: block;
    font-size: .8rem;
    color: $black;
    font-weight: normal;
    margin-top: .3rem;
    color: lighten($color: $black, $amount: 50);
  }

  .product-price {
    width: 20%;
    display: block;
    font-weight: bold;
    font-size: 1.3rem;

    @media screen and (max-width: $tablet-large-screen) {
      font-size: .8rem;
    }

    span {
      float: right;

    }
  }
}

.modal-delivery {

  .delivery-input {
    margin-bottom: 2rem;

    label {
      @include secondary-normal;
      display: block;
      margin-bottom: .5rem;

    }

  }

}

.modal__delivery {

  &-client,
  &-resume,
  &-payment {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  &-focus {
    background: lighten($color: $tertiary, $amount: 5);
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 0;
    height: 100%;
  }
}

.modal__payment {
  &-types {
    @include flex-between;
  }
}

.modal-payment-type {
  border: 2px solid $white;
  padding: .8rem 2rem;
  border-radius: 14px;
  margin: .5rem 0;
  width: 48%;
  text-align: center;
  font-weight: bold;
  transition: .2s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 2px solid $secondary;
    background: $secondary;
  }
}

.modal-payment-method {
  width: 30%;
  height: 100vh;
  background: lighten($color: $tertiary, $amount: 5);
  color: $black;
  padding: 2rem 0;
  position: absolute;
  top: 0;
  right: 0;
}

.menu--active {
  left: 0;
}

.menu--deactive {
  left: -100%;
}

.tabs-link {
  margin: 1rem auto;

  @media screen and (max-width: $tablet-large-screen) {
    margin: .8rem 0;
    width: 100%;
    overflow: hidden;
  }

  .link {
    margin: 0;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 0 .3rem;
  }

  .button {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.check {
  background: $quaternary !important;
  color: $white !important;
}

.form {
  &-account {
    &-input__wrapper {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: .5rem;
      }
    }

    &-submit__wrapper {
      margin-top: 1.4rem;
      width: 100%;

      .button {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    &-forgotpassword {
      display: block;
      margin: .5rem 0;

      a {
        @include flex-start;
        color: $black;
        text-decoration: none;

        .icon {
          margin-right: .2rem;
        }
      }
    }
  }
}

// CAROUSEL REFACTOR
.carousel {
  .slide {
    background: transparent;
  }
}
