$desktop-large-screen: 2000px;
$desktop-medium-screen: 1440px;
$desktop-regular-screen: 1080px;
$desktop-small-screen: 1024px;
$tablet-regular-screen: 768px;
$mobile-large-screen: 425px;
$mobile-regular-screen: 375px;
$mobile-small-screen: 320px;
