@import '../../styles/Index.scss';

.products-categories {
  &__wrapper {
    @include flex-between;
    align-items: flex-start;
  }

  &-list {
    flex: 2;

    >*+* {
      margin-top: 2rem;
    }
  }
}

.add-product {
  padding: 0 1rem;
  overflow: hidden;
  transition: .2s ease-in-out;
}

.wrapper--hide {
  flex: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper--show {
  flex: 1;
  opacity: 1;
  visibility: visible;
}
