@import '../../../styles/Index.scss';

.header {
  @include flex-between;
  margin-top: 1rem;
  margin-bottom: 3rem;

  @media screen and (max-width: $tablet-large-screen) {
    margin: 0;
  }

  @media screen and (max-width: $tablet-regular-screen) {
    padding: 1rem;
  }

  @media screen and (max-width: $tablet-large-screen) {
    padding: 0;
    padding-bottom: 1rem;
  }

  a {
    @media screen and (max-width: $tablet-large-screen) {
      width: 25%;
    }
  }

  svg {
    @media screen and (max-width: $tablet-regular-screen) {
      width: 100%;
    }
  }

}

.header__menu {
  @include flex-between;

  @media screen and (max-width: $tablet-large-screen){
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background: $white;
    padding: 2rem 1.5rem;
    transition: .2s ease-in-out;
  }

}

.header__menu--close {
  display: none;
  margin-top: 2rem;

  @media screen and (max-width: $tablet-large-screen){
    display: block;
  }

}

.header__mobile-menu {
  display: none;
  width: 35px;
  height: 35px;

  @media screen and (max-width: $tablet-large-screen){
    display: block;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.menu__item {
  a {
    text-decoration: none;
  }
}
