@import './styles/Index.scss';

*,
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;

    @media screen and (max-width: $desktop-regular-screen){
      background: rgba($color: $tertiary, $alpha: .5);
      border-radius: 5rem;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: $secondary-gradient;
    border-radius: 5rem;
  }

  :focus {
    outline: none;
  }

}

input, select {
  @include primary-normal;
  border: 1.3px solid $black;
  border-radius: 5px;
  color: $black;
  height: 40px;
  width: 100%;
  padding: 0 10px;

  &::placeholder {
    color: rgba($color: $black, $alpha: .3);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  @include primary-normal;
  background-color: $white;
  height: 100vh;

}
