@import '../../styles/Index.scss';

.menu {
  @include large-box-radius;
  width: 75%;
  background-color: $white;
  box-shadow: $black-shadow;
  padding: 40px 44px;
  z-index: 1;
  margin: 0 auto;

  @media screen and (max-width: $tablet-large-screen){
    width: 100%;
  }

  @media screen and (max-width: $mobile-large-screen){
    padding: 40px 20px;
    margin-bottom: 2rem;

  }

}

.menu__wrapper {
  @include primary-normal;
  overflow: hidden;
  overflow-y: auto;
  max-height: 700px;
  width: 85%;
  margin: 0 auto;

  @media screen and (max-width: $tablet-large-screen){
    width: 100%;
  }

  @media screen and (max-width: $mobile-large-screen){
    max-height: inherit;
  }

}

.menu-category {
  margin-bottom: 2rem;

}

.menu-title {
  @include secondary-bold-subtitle;
  @include flex-start;
  color: $black;
  margin-bottom: 2rem;

}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 3rem;

}

.menu-item {
  @include flex-between;
  align-items: flex-end;
  width: 100%;
  margin: .8rem 0;

  @media screen and (max-width: $mobile-large-screen){
    margin-bottom: 1.5rem;
  }

  .menu-item-name{
    width: 15%;
    font-size: .9rem;

    @media screen and (max-width: $tablet-regular-screen){
      width: 100%;
      margin-bottom: .2rem;
    }
  }
  .menu-item-description{
    width: 37%;
    font-size: .8rem;
    font-weight: 300;

    @media screen and (max-width: $tablet-regular-screen){
      width: 100%;
      margin-bottom: .2rem;
    }
  }

  .menu-item-price {
    width: 48%;

  }

  .menu-price {
    @include primary-normal;
    text-align: left;
    font-size: .9rem;
  }

  .menu-size-price {
    @include flex-start;
    width: 16%;

    @media screen and (max-width: $tablet-regular-screen){
      width: 33%;
      margin-bottom: .2rem;
    }

    .menu-size {
      @include primary-normal;
      background-image: $secondary-gradient;
      padding: .1rem .5rem;
      border-radius: .3rem;
      margin-right: .4rem;
      color: $white;
      font-size: .7rem;
      font-weight: bold;
      text-align: center;

      @media screen and (max-width: $mobile-large-screen){
        background-image: none;
        color: $black;
        padding: 0;
        margin-right: .2rem;
        font-size: .9rem;
      }

    }
  }
}
